<!doctype html>
<html amp>
<head>
  <meta charset="utf-8">
  <title>@Model.PageTitle</title>
  <link rel="canonical" href="@Model.CanonicalLink">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>@Html.Raw(Model.EmbeddedCssString)</style>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>
  <header class="top-header">
    <p><a href="/">@Model.Site.Name</a></p>
    <nav>
    </nav>
  </header>
  <div class="flex-wrapper">
    <div class="flex-container">
      <main class="main">
          <!-- MainContents Begin -->

@Html.Raw(Model.Body)

          <!-- MainContents End -->
        <div class="pagenation">
          <div class="left">@if (Model.PrevEntry != null) { <a href="@Model.PrevEntry.RelativePath" class="pure-button">&lt; Prev</a> }</div>
          <div class="right">@if (Model.NextEntry != null) { <a href="@Model.NextEntry.RelativePath" class="pure-button">Next &gt;</a> }</div>
        </div>
      </main>
    </div>
  </div>
  <footer>
    <p class="copyright">@Model.Copyright</p>
  </footer>
</body>
</html>
